.wrapper {
    width: 100%;
    max-width: rem(420);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(20);
    padding: rem(16);
    background-image: url("/images/ui/arrow-button-background.svg");
    background-position: center;
    background-size: 100%;
    color: #000;

    p {
        font-size: rem(52);
    }

    .icon {
        padding: rem(40) 0;
        height: 100%;
    }
}

.iconRight {
    flex-direction: row-reverse;
}


