.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: rem(80);
    left: 50%;
    transform: translateX(-50%);
}

.wrapperProgress {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(70);
}

.playerWrapper {
    position: relative;
}

.ultiBar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: rem(120);
    width: rem(120);
    background-color: var(--tertiary); /* For browsers that do not support gradients */
    clip-path: polygon( 80.535% 13.315%,55.94% 0.948%,39.418% 1.853%,13.806% 21.621%,0.894% 46.088%,8.713% 73.814%,33.345% 95.122%,63.214% 100%,92.139% 77.857%,100% 43.256%,86.47% 18.45%,80.535% 13.315%,75.635% 19.034%,84.998% 28.706%,90.679% 48.294%,86.767% 70.065%,63.311% 89.602%,34.508% 86.588%,15.496% 65.008%,11.378% 44.675%,22.57% 25.01%,35.118% 13.855%,51.555% 9.208%,75.635% 19.034% );
}

.chrisAngle {
    background-image: conic-gradient(var(--tertiary) var(--chrisAngle, 0), #000 var(--chrisAngle, 0));
}

.missyAngle {
    background-image: conic-gradient(var(--tertiary) var(--missyAngle, 0), #000 var(--missyAngle, 0));
}

.angleFull{
    animation: blink 1s ease-in-out infinite;
    background-image: conic-gradient(var(--tertiary) 360, #000 var(--missyAngle, 0));
}

@keyframes blink {
    0%, 100% {
      --tertiary: #7CE14D; /* Vert */
    }
    50% {
      --tertiary: #FFD700; /* Jaune */
    }
  }

.playerIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.centerZone {
    position: relative;
    width: rem(504);
    height: rem(33);
}

.backgroundProgress {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(504);
    height: rem(33);
    clip-path: polygon( 0.099% 67.606%,7.235% 100%,45.887% 81.69%,67.096% 77.465%,95.937% 90.141%,100% 0%,52.527% 22.535%,45.59% 22.535%,3.667% 0%,0.099% 67.606% );
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    position: relative;
    background-color: #000;
    width: rem(477);
    height: rem(24);
    clip-path: polygon( 5.682% 100%,0.103% 60.784%,1.86% 0%,48.347% 29.412%,73.76% 15.686%,100% 5.882%,96.798% 84.314%,79.029% 72.549%,57.541% 72.549%,5.682% 100% );
}

.wrapperMark {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: rem(477);
    height: rem(33);
}

.mark {
    z-index: 10;
    height: rem(36);
    width: rem(4);
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% * var(--progress, 0.5));
}

.motif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% * var(--progress, 0.5));
    background-color: var(--secondary);

    svg {
        height: 100%;
        width: 100%;
    }
}
