.wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: rem(50);
    left: 50%;
    transform: translateX(-50%);
}

.wrapperProgress {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
}

.centerZone {
    position: relative;
    width: rem(504);
    height: rem(33);
}

.backgroundProgress {
    position: absolute;
    top: 0;
    left: 0;
    width: rem(504);
    height: rem(33);
    clip-path: polygon( 0.099% 67.606%,7.235% 100%,45.887% 81.69%,67.096% 77.465%,95.937% 90.141%,100% 0%,52.527% 22.535%,45.59% 22.535%,3.667% 0%,0.099% 67.606% );
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    position: relative;
    background-color: #000;
    width: rem(477);
    height: rem(24);
    clip-path: polygon( 5.682% 100%,0.103% 60.784%,1.86% 0%,48.347% 29.412%,73.76% 15.686%,100% 5.882%,96.798% 84.314%,79.029% 72.549%,57.541% 72.549%,5.682% 100% );
}

.wrapperMark {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: rem(477);
    height: rem(33);
}

.mark {
    z-index: 10;
    height: rem(36);
    width: rem(4);
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% * var(--progress, 0.5));
}

.motif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% * var(--progress, 0.5));
    background-color: var(--secondary);

    svg {
        height: 100%;
        width: 100%;
    }
}
